.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("images/bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  background-color: #003039;
  font-family: 'Raleway', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "fylo"
  "storage"
  "gb_left";
  place-items: center;
  grid-gap: 10px;
  color: rgb(221, 221, 221);
  /* max-width: 300px; */
  
}

#storage,
#fylo {
  background-color: hsl(228, 56%, 26%);
  grid-column: 1 / 4;
  border-radius: 10px;
  width: 90%;
}

#fylo {
  border-top-right-radius: 75px;
  padding-block: 40px;
  grid-area: fylo;
}

#storage {
  text-align: center;
  display: grid;
  min-height: 200px;
  grid-area: storage;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas: 
  ". . ."
  "used used used"
  "bar bar bar"
  "gb1 . gb2";
}

#logo, #document {
  margin-left: 30px;
}


/* TODO Fix icon background/padding size so that they all have equal heights and widths without messing up the icons themselves*/
.icons {
  display: flex;
  margin-block: 20px;
  flex-direction: row;
}

.icon {
  padding: 10px;
  background-color: #0c112e;
  border-radius: 10px;
  margin-inline: 5px;
}

#gb {
  font-weight: 700;
}

#gb-left {
  background-color: white;
  color: rgb(114, 114, 114);
  text-align: center;
  padding-block: 8px;
  padding-inline: 24px;
  border-radius: 6px;
  grid-area: gb_left;
  transform: translateY(-100px);
  text-transform: uppercase;
}

#number-left {
  font-weight: 700;
  color: black;
  font-size: 24px;
}

#used {
  grid-area: used;
}

#gb1 {
  grid-area: gb1;
}

#gb2 {
  grid-area: gb2;
}

#used-bar {
  grid-area: bar;
  background-color: hsl(229, 57%, 11%);
  margin-inline: 10px;
  border-radius: 20px;
}